.herocard {

    width: 500px;
    margin: 0 auto;

    li {
        list-style-type: square;

        span {
            font-weight: bold;
        }
    }

    .card-item {
        box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.75);
    }

    .card-img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: 200px;
    }

    .card-header {
        font-family: $mainFont;
        text-align: center;

        span {
            font-size: 30px;
        }
    }

    h4 {
        font-family: $mainFont;
        font-size: 15px;
        text-decoration: underline;
    }

}