.otherlinks {
    width: 200px;
    text-align: center;
    display: inline;

    .instructions {
        text-align: left;
        padding-left: 30px;

        li {
            font-size: 20px;
            font-weight: bold;
            list-style-type: square !important;
        }
    }
}