.searchbar {
    display: flow-root;
    height: 300px;
    // background: radial-gradient(ellipse at bottom, #1591c2 0%, #090A0F 100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    .search-field {
        background: $dimWhite;
        width: 50%;
        margin: 0 auto;
        position: relative;
        height: fit-content;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .input-base {
        padding-left: 40px;
    }

    .search-icon {
        height: 100%;
        font-size: 30px;
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }

    .search-results {
        width: 50%;
        margin: 0 auto;
        height: 250px;
        overflow: auto;

        ul {
            
            li {
                display: flex;
                background: rgba(219, 219, 219, 0.836);
                margin: 10px 0;
                margin-right: 30px;
                padding: 5px 0 5px 10px;
                list-style: none;

                .name {
                    flex: 1;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
                .link-details {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration-color: $mainBlack;
                    color: $mainBlack;
                }
                .addBtn {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0;
                }
            }

        }

    }

}