.searchbar {
    display: flow-root;
    height: 300px;
    background: radial-gradient(ellipse at bottom, #1591c2 0%, #090A0F 100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    .search-results {
        width: 50%;
        margin: 0 auto;
        height: 250px;
        overflow: auto;
    }

    .search-field {
        background: rgb(247, 247, 247);
        border-radius: 15px;
        width: 50%;
        margin: 0 auto;
        position: relative;
        height: fit-content;
    }

    .input-base {
        padding-left: 40px;
    }

    .search-icon {
        height: 100%;
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
}