.team {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
    
    h1 {
        font-family: $titleFont;
        font-size: 50px;
    }

    p {
        text-align: center;
    }


}